<h2 mat-dialog-title>AGREGA CLIENTE</h2>

<mat-dialog-content [formGroup]="agregaCliente" name="agregaCliente" class="agrega-container">
  <mat-form-field>
    <input autofocus id="rutCliente" matInput class="input-rut rut" placeholder="Ingrese Rut" [formControl]="rutCliente"  oninput="this.value = this.value.toUpperCase()" (blur)="onBlurRutCliente($event)" validaRut  required>
    <mat-error *ngIf="rutCliente.invalid">{{getErrorMessage('rutCliente')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Razón Social" [formControl]="razonSocial"  required>
    <mat-error *ngIf="razonSocial.invalid">{{getErrorMessage('razonSocial')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Ingrese Nombre de Fantasía" [formControl]="nombreFantasia" required>
      <mat-error *ngIf="nombreFantasia.invalid">{{getErrorMessage('nombreFantasia')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Dirección " [formControl]="direccion" required>
    <mat-error *ngIf="direccion.invalid">{{getErrorMessage('direccion')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese teléfono " [formControl]="telefono" required>
    <mat-error *ngIf="direccion.invalid">{{getErrorMessage('telefono')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Email " [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Nombre Contacto " [formControl]="nombreContacto" required>
    <mat-error *ngIf="nombreContacto.invalid">{{getErrorMessage('nombreContacto')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Email Recepción Exámen " [formControl]="emailRecepcionExamenCliente" required>
    <mat-error *ngIf="emailRecepcionExamenCliente.invalid">{{getErrorMessage('emailRecepcionExamenCliente')}}</mat-error>
  </mat-form-field>

  <mat-list>
    <mat-list-item>Datos de Envío de Email</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
<!--
  <mat-form-field>
    <input matInput placeholder="Ingrese Envío Email " [formControl]="emailEnvio" required>
    <mat-error *ngIf="emailEnvio.invalid">{{getErrorMessage('emailEnvio')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Contraseña " [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
  </mat-form-field>
-->
  <mat-form-field>
    <input matInput placeholder="Ingrese Nombre Desde " [formControl]="nombreDesde" required>
    <mat-error *ngIf="nombreDesde.invalid">{{getErrorMessage('nombreDesde')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Asunto" [formControl]="asunto" required>
    <mat-error *ngIf="asunto.invalid">{{getErrorMessage('asunto')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Título Cuerpo" [formControl]="tituloCuerpo" required>
    <mat-error *ngIf="tituloCuerpo.invalid">{{getErrorMessage('tituloCuerpo')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Título Cuerpo Medio " [formControl]="tituloCuerpoMedio" required>
    <mat-error *ngIf="tituloCuerpoMedio.invalid">{{getErrorMessage('tituloCuerpoMedio')}}</mat-error>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Ingrese Título Cuerpo Pie " [formControl]="tituloCuerpoPie" required>
    <mat-error *ngIf="tituloCuerpoPie.invalid">{{getErrorMessage('tituloCuerpoPie')}}</mat-error>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-md-6">
      <button mat-raised-button class="colorFondoBotonCancelar"  mat-dialog-close  [disabled]=false>Cerrar</button>
    </div>
    <div class="col-md-6">
      <button class="colorFondoBotonGrabar" mat-raised-button  (click)="enviar()"  [disabled]="agregaCliente.invalid">GRABAR</button>
    </div>
</mat-dialog-actions>
