<h2 mat-dialog-title>ELIMINA RAZA</h2>

<mat-dialog-content name="elimina" class="elimina-container">

  <mat-form-field color="accent">
    <input matInput placeholder="Nombre"  value="{{datoPar.nombre}}" disabled='true' >
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-md-5">
      <button mat-raised-button class="colorFondoBotonCancelar"  mat-dialog-close  [disabled]=false>CANCELAR</button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <button class="colorFondoBotonEliminar" mat-raised-button  (click)="enviar()"   >ELIMINA</button>
    </div>
</mat-dialog-actions>
