<h2 mat-dialog-title>ELIMINA RAZA</h2>

<mat-dialog-content name="elimina" class="elimina-container">

  <mat-form-field color="accent">
    <input matInput placeholder="Nombre"  value="{{datoPar.nombre}}" disabled='true' >
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-md-6">
      <button mat-raised-button color="warn"  mat-dialog-close  [disabled]=false>Cerrar</button>
    </div>
    <div class="col-md-6">
      <button class="colorFondoBoton" mat-raised-button  (click)="enviar()"   >ELIMINA</button>
    </div>
</mat-dialog-actions>
