.destacado{
  font-weight: bold;
}

.alineaV{
  display: flex;
  align-items: center;
}


.alineaVertical{
  display: flex;
  align-items: center;
  justify-content: center;
}


.margen-imprimir{
  margin:1%;
}
