<h2 mat-dialog-title>CONSULTA EXÁMEN</h2>

<mat-dialog-content  name="consulta" class="consulta-container">

  <mat-form-field color="accent">
    <input matInput placeholder="Código Exámen"  value="{{datoPar.codigoExamen}}" disabled='true' >
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Nombre"  value="{{datoPar.nombre}}" disabled='true' >
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Sigla" value="{{datoPar.sigla}}" disabled='true'>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Precio" value="{{datoPar.precio}}" disabled='true'>
  </mat-form-field>

<!--
  <mat-card mat-card style="cursor: pointer"  class="example-card mb-2 mt-4 ml-2  align-content-center align-items-center align-self-center text-center" >
    <a class="colorAmarillo" >
      <img class="m-0" mat-card-image  [src]="imagen" >
    </a>
  </mat-card>
-->
</mat-dialog-content>

<mat-dialog-actions class="justify-content-center">
    <div class="col-md-6">
      <button mat-raised-button color="warn"  mat-dialog-close  [disabled]=false>Cerrar</button>
    </div>
</mat-dialog-actions>
