<h2 mat-dialog-title>INGRESO EXÁMEN</h2>
<mat-dialog-content [formGroup]="agregaCabeceraExamen" name="agregaCabeceraExamen" class="agrega-container">


  <mat-form-field>
    <mat-select [formControl]="idUsuario" placeholder="Seleccione Usuario" required>
      <mat-option *ngFor="let _usuario of datoUsuario" [value]="_usuario._id">
        {{_usuario.apellidoPaterno + ' ' + _usuario.apellidoMaterno + _usuario.nombres}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="idUsuario.invalid">{{getErrorMessage('idUsuario')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select [formControl]="idCliente" placeholder="Seleccione Cliente" (selectionChange)="seleccionaCliente($event.value)" required>
      <mat-option *ngFor="let _cliente of datoCliente" [value]="_cliente">
        {{_cliente.nombreFantasia}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="idCliente.invalid">{{getErrorMessage('idCliente')}}</mat-error>
  </mat-form-field>

  <mat-divider class="mt-3 mb-3"></mat-divider>


    <div class="row align-items-center ">
      <div class="col-md-6 ">
        <mat-form-field>
          <input matInput placeholder="Ingrese Propietario" [formControl]="nombrePropietario" required>
          <mat-error *ngIf="nombrePropietario.invalid">{{getErrorMessage('nombrePropietario')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Ingrese Paciente" [formControl]="nombrePaciente" required>
          <mat-error *ngIf="nombrePaciente.invalid">{{getErrorMessage('nombrePaciente')}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="Ingrese Edad" [formControl]="edad" required>
          <mat-error *ngIf="edad.invalid">{{getErrorMessage('edad')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 ">
        <mat-form-field>
          <mat-select [formControl]="idEspecie" placeholder="Seleccione Especie" required>
            <mat-option *ngFor="let _especie of datoEspecie" [value]="_especie">
              {{_especie.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="idEspecie.invalid">{{getErrorMessage('idEspecie')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 ">
        <mat-form-field>
          <mat-select [formControl]="idRaza" placeholder="Seleccione Raza" required>
            <mat-option *ngFor="let _raza of datoRaza" [value]="_raza">
              {{_raza.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="idRaza.invalid">{{getErrorMessage('idRaza')}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4 ">
        <mat-form-field>
          <mat-select [formControl]="sexo" placeholder="Seleccione Sexo" required>
            <mat-option *ngFor="let _sexo of datoSexo" [value]="_sexo.id">
              {{_sexo.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="sexo.invalid">{{getErrorMessage('sexo')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <mat-form-field>
          <input matInput placeholder="Ingrese Dr. Solicitante" [formControl]="docSolicitante" required>
          <mat-error *ngIf="docSolicitante.invalid">{{getErrorMessage('docSolicitante')}}</mat-error>
        </mat-form-field>
      </div>

    </div>

    <mat-form-field>
      <mat-select [formControl]="idExamen" placeholder="Seleccione Exámen" (selectionChange)="seleccionaExamen($event.value)"  required>
        <mat-option *ngFor="let _examen of datoExamen" [value]="_examen">
          {{_examen.nombre}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="idExamen.invalid">{{getErrorMessage('idExamen')}}</mat-error>
    </mat-form-field>


</mat-dialog-content>

<div *ngIf="!agregaCabeceraExamen.invalid">
  <app-agrega-formato1 *ngIf="hemograma" [datoFichaRecibe]="datoFicha"></app-agrega-formato1>
</div>
<!--
<mat-dialog-actions>
  <div class="col-md-6">
    <button mat-raised-button color="warn" (click)="cerrar()" mat-dialog-close  [disabled]=false>Cerrar</button>
  </div>
  <div class="col-md-6">
    <button class="colorFondoBoton" mat-raised-button  (click)="enviar()"  mat-dialog-close [disabled]="agregaCabeceraExamen.invalid">ENVIAR</button>
  </div>
</mat-dialog-actions>
-->








