

.tamañoLetra{
  font-size: 12px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 35px!important;
}

mat-divider[_ngcontent-mwk-c65] {
  margin-top: 11px !important;
  margin-bottom: 1px !important;
  background-color: #ffffff80;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.spacerDerecha {
  flex: 1 1 auto;
}

.iconMuestra {
  transform: scale(1.5);
  color:black;
}

/*Menu*/

mat-sidenav {
  margin: 16px;
  width: 18%;
  border-right: none;
  background: #118383;  /*Colof de Fondo menu*/
  color: white;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  mat-sidenav {
    margin: 16px;
    width: 45%;
    border-right: none;
    background: #118383;  /*Colof de Fondo menu*/
    color: white;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
  }
}


mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.menu-button mat-icon {
  margin-right: 8px;
}
.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  margin-top: 8px;
  font-weight: normal;
}
.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}
mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}


.cerrar{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.padingLateral{
  padding:0 !important;
  min-width:0 !important;
}


.mat-icon {
  vertical-align: middle;
}

.v-align-middle {
    vertical-align: middle;
}
