
<!--Menu nuevo-->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">

  <mat-toolbar color="primary" class="example-toolbar bodebotom">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="spacerDerecha"></span>

    <div class="text-uppercase align-self-center tamañoLetra"><mat-icon class="align-self-center">face</mat-icon> {{currentUsuario.usuarioDato.nombres}} {{currentUsuario.usuarioDato.apellidoPaterno}}



    </div>
    <button class="padingLateral" mat-button [matMenuTriggerFor]="menu"><mat-icon>keyboard_arrow_down</mat-icon></button>
<mat-menu #menu="matMenu">
  <button *ngIf="accesoDatosEmpresa" mat-menu-item routerLink="/actualizaDatosEmpresa">Datos Empresa</button>
  <button mat-menu-item routerLink="/actualizaDatos">Datos Personales</button>
  <button mat-menu-item routerLink="/cambioContrasena">Contraseña</button>
  <button mat-menu-item (click)="cerrar()">Cerrar</button>
</mat-menu>
  </mat-toolbar>

  <mat-divider></mat-divider>

  <mat-sidenav-container autosize class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened="true"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <!--"https://source.unsplash.com/c_GmwfHBDzk/200x200"-->
        <img class="avatar mat-elevation-z8" [src]="nombreLogoEmpresa" />
        <h4 class="name">{{nombreSiglaEmp}}</h4>
      <p class="NAME">{{nombreTipoEmp}}</p>
        <div *ngIf="flag">
          <app-menu-list-item  *ngFor="let item of getMenu()" [item]="item" (tituloModuloF)="traeTituloModulo($event)"></app-menu-list-item>
        </div>

        <!--
        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

      <h4 class="name">John Smith</h4>
      <p class="designation">Software Engineer</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>About</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>
      -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Error al abrir modulo</div>
