.modifica-container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.modifica-container > * {
  width: 95%;
}

.colorFondoBoton {
  color: white;
  background-color: black;
}

.mat-raised-button {
  min-width: 100%;
}

.mat-dialog-container {
  padding: 50px !important;

}

.mat-dialog-content{
  margin: auto;
}


.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {

  padding: 0 1px !important;

}
