<h2 mat-dialog-title>AGREGA PROPIETARIO</h2>

<mat-dialog-content [formGroup]="agrega" name="agrega" class="agrega-container">
  <mat-form-field>
    <input matInput class="input-rut rut" placeholder="Ingrese Rut" [formControl]="rutPropietario" oninput="this.value = this.value.toUpperCase()" (blur)="onBlurRut($event)" validaRut  required>
    <mat-error *ngIf="rutPropietario.invalid">{{getErrorMessage('rutPropietario')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Nombres" [formControl]="nombres"  required>
    <mat-error *ngIf="nombres.invalid">{{getErrorMessage('nombres')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Ingrese Apellido Paterno" [formControl]="apellidoPaterno" required>
      <mat-error *ngIf="apellidoPaterno.invalid">{{getErrorMessage('apellidoPaterno')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Apellido Materno" [formControl]="apellidoMaterno" required>
    <mat-error *ngIf="apellidoMaterno.invalid">{{getErrorMessage('apellidoMaterno')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Dirección " [formControl]="direccion" required>
    <mat-error *ngIf="direccion.invalid">{{getErrorMessage('direccion')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese teléfono " [formControl]="telefono" required>
    <mat-error *ngIf="direccion.invalid">{{getErrorMessage('telefono')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Email " [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-md-6">
      <button mat-raised-button color="warn"  mat-dialog-close  [disabled]=false>Cerrar</button>
    </div>
    <div class="col-md-6">
      <button class="colorFondoBoton" mat-raised-button  (click)="enviar()"  [disabled]="agrega.invalid">GRABAR</button>
    </div>
</mat-dialog-actions>
