<h2 mat-dialog-title>MODIFICA CLIENTE - {{datoClientePar.rutCliente}}</h2>

<mat-dialog-content [formGroup]="modificaCliente" name="modificaCliente" class="modifica-container">

  <mat-form-field>
    <input matInput placeholder="Ingrese Razón Social" [formControl]="razonSocial"  required>
    <mat-error *ngIf="razonSocial.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Ingrese Nombre de Fantasía" [formControl]="nombreFantasia" required>
      <mat-error *ngIf="nombreFantasia.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Dirección " [formControl]="direccion" required>
    <mat-error *ngIf="direccion.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Teléfono " [formControl]="telefono" required>
    <mat-error *ngIf="telefono.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese email " [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Nombre Contacto " [formControl]="nombreContacto" required>
    <mat-error *ngIf="nombreContacto.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Email Recepción Exámen " [formControl]="emailRecepcionExamenCliente" required>
    <mat-error *ngIf="emailRecepcionExamenCliente.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-list>
    <mat-list-item>Datos de Envío de Email</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
<!--
  <mat-form-field class="mt-3">
    <input matInput placeholder="Ingrese Envío Email " [formControl]="emailEnvio" required>
    <mat-error *ngIf="emailEnvio.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Contraseña " [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
-->
  <mat-form-field>
    <input matInput placeholder="Ingrese Nombre Desde " [formControl]="nombreDesde" required>
    <mat-error *ngIf="nombreDesde.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Asunto" [formControl]="asunto" required>
    <mat-error *ngIf="asunto.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Título Cuerpo" [formControl]="tituloCuerpo" required>
    <mat-error *ngIf="tituloCuerpo.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Título Cuerpo Medio " [formControl]="tituloCuerpoMedio" required>
    <mat-error *ngIf="tituloCuerpoMedio.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Ingrese Título Cuerpo Pie " [formControl]="tituloCuerpoPie" required>
    <mat-error *ngIf="tituloCuerpoPie.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-md-6">
      <button mat-raised-button color="warn"  mat-dialog-close  [disabled]=false>Cerrar</button>
    </div>
    <div class="col-md-6">
      <button class="colorFondoBoton" mat-raised-button  (click)="enviar()"   [disabled]="modificaCliente.invalid">ACEPTAR</button>
    </div>
</mat-dialog-actions>
