<h2 mat-dialog-title>ELIMINA CLIENTE</h2>

<mat-dialog-content name="emina" class="elimina-container">

  <mat-form-field color="accent">
    <input matInput placeholder="Rut"  value="{{data.datoClientePar.empresa[0]?.rutCliente}}" disabled='true' >
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Razón Social"  value="{{data.datoClientePar.empresa[0]?.razonSocial}}" disabled='true' >
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Nombre de Fantasía" value="{{data.datoClientePar.empresa[0]?.nombreFantasia}}" disabled='true'>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Dirección " value="{{data.datoClientePar.empresa[0]?.direccion}}" disabled='true'>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Teléfono " value="{{data.datoClientePar.empresa[0]?.telefono}}" disabled='true'>
  </mat-form-field>

  <mat-list>
    <mat-list-item>Datos de Envío de Email</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
<!--
  <mat-form-field color="accent">
    <input matInput placeholder="Envío Email " value="{{this.data.empresa[0]?.envioEmail?.emailEnvio}}" disabled='true'>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Contraseña " value="{{this.data.empresa[0]?.envioEmail?.password}}" disabled='true'>
  </mat-form-field>
-->
  <mat-form-field color="accent">
    <input matInput placeholder="Nombre Desde " value="{{data.datoClientePar.empresa[0]?.envioEmail?.nombreDesde}}" disabled='true'>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Asunto" value="{{data.datoClientePar.empresa[0]?.envioEmail?.asunto}}" disabled='true'>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Título Cuerpo" value="{{data.datoClientePar.empresa[0]?.envioEmail?.tituloCuerpo}}" disabled='true'>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Título Cuerpo Medio " value="{{data.datoClientePar.empresa[0]?.envioEmail?.tituloCuerpoMedio}}" disabled='true'>
  </mat-form-field>


  <mat-form-field color="accent">
    <input matInput placeholder="Título Cuerpo Pie " value="{{data.datoClientePar.empresa[0]?.envioEmail?.tituloCuerpoPie}}" disabled='true'>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-md-6">
      <button mat-raised-button color="warn"  mat-dialog-close  [disabled]=false>Cerrar</button>
    </div>
    <div class="col-md-6">
      <button class="colorFondoBoton" mat-raised-button  (click)="enviar()"  >ELIMINA</button>
    </div>
</mat-dialog-actions>
