.elimina-container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.elimina-container > * {
  width: 95%;
}


.mat-raised-button {
  min-width: 100%;
}

.mat-dialog-container {
  padding: 50px !important;

}

.mat-dialog-content{
  margin: 0;
}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #000000;
}
