<h2 mat-dialog-title>AGREGA FORMATO</h2>

<mat-dialog-content [formGroup]="agregaFormatos" name="agregaCliente" class="agrega-container">
  <mat-form-field>
    <input matInput class="input-rut rut" placeholder="Ingrese Nombre" [formControl]="nombreFormato"  required>
    <mat-error *ngIf="nombreFormato.invalid">{{getErrorMessage('rutCliente')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Descripción" [formControl]="descripcion"  required>
    <mat-error *ngIf="descripcion.invalid">{{getErrorMessage('descripcion')}}</mat-error>
  </mat-form-field>



</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-md-6">
      <button mat-raised-button color="warn" (click)="cerrar()" mat-dialog-close  [disabled]=false>Cerrar</button>
    </div>
    <div class="col-md-6">
      <button class="colorFondoBoton" mat-raised-button  (click)="enviar()"  mat-dialog-close [disabled]="agregaFormatos.invalid">ENVIAR</button>
    </div>
</mat-dialog-actions>
