.modifica-container {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.modifica-container > * {
  width: 95%;
}

.colorFondoBoton {
  color: white;
  background-color: black;
}

.mat-raised-button {
  min-width: 100%;
}

.mat-dialog-container {
  padding: 50px !important;

}

.mat-dialog-content{
  margin: auto;
}

.mat-form-field {
  width: 95%;
}



.alineaVertical{
    display: flex;
    align-items: center;

}
