<h2 mat-dialog-title>ELIMINA PROPIETARIO</h2>

<mat-dialog-content name="emina" class="elimina-container">

  <mat-form-field color="accent">
    <input matInput placeholder="Rut"  value="{{datoPar.rutPropietario}}" disabled='true' >
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Nombres"  value="{{datoPar.nombres}}" disabled='true' >
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Apellido Paterno" value="{{datoPar.apellidoPaterno}}" disabled='true'>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Apellido Materno" value="{{datoPar.apellidoMaterno}}" disabled='true'>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Dirección " value="{{datoPar.direccion}}" disabled='true'>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Teléfono " value="{{datoPar.telefono}}" disabled='true'>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" value="{{datoPar.email}}" disabled='true'>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-md-5">
      <button mat-raised-button class="colorFondoBotonCancelar"  mat-dialog-close  [disabled]=false>CANCELAR</button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <button class="colorFondoBotonEliminar" mat-raised-button  (click)="enviar()">ELIMINA</button>
    </div>
</mat-dialog-actions>
