.agrega-container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.agrega-container > * {
  width: 95%;
}

.mat-raised-button {
  min-width: 100%;
}

.mat-dialog-container {
  padding: 50px !important;

}

.mat-dialog-content{
  margin: auto;
}

/*nuevo*/
/*@import url(https://fonts.googleapis.com/css?family=Fjalla+One);*/
*:after,
*:before,
* {
  box-sizing: border-box;
}

/*body {
  background: black;
}
*/
