<h2 mat-dialog-title>CONSULTA ESPECIE</h2>

<mat-dialog-content  name="consulta" class="consulta-container">

  <mat-form-field color="accent">
    <input matInput placeholder="Nombre"  value="{{datoPar.nombre}}" disabled='true' >
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="justify-content-center">
    <div class="col-md-6">
      <button mat-raised-button color="warn" (click)="cerrar()" mat-dialog-close  [disabled]=false>Cerrar</button>
    </div>
</mat-dialog-actions>
