<h2 mat-dialog-title>INGRESO EXÁMEN HEMOGRAMA</h2>



<mat-dialog-content [formGroup]="ingresaHemograma" name="agregaFormato1" class="agrega-container"  >
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          Ficha Paciente
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-imprime-ficha-cabecera [datoFichaRecibeFicha]="datoFicha"></app-imprime-ficha-cabecera>

    </mat-expansion-panel>

  </mat-accordion>

  <div>
    <div id="serieRoja">
        <h4>SERIE ROJA</h4>

        <div class="row anchoTitulo">
          <div  class="col-md-2 border border-dark alineaVertical border-end-0 destacado">
            PARÁMETRO
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-end-0 alineaVertical destacado">
            RESULTADO
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-end-0 alineaVertical destacado" >
            UNIDAD
          </div>
          <div class="col-md-6 border border-dark border-left-0 " >
            <div class="row ">
              <div class="col-md-12  border-dark border-bottom alineaVertical destacado">
                VALORES DE REFERENCIA
              </div>
            </div>
            <div class="row ">
              <div class="col-md-6 border-dark border-top-0 border-left-0 border-bottom-0 alineaVertical destacado">
                Caninos
              </div>
              <div class="col-md-6 border-dark  border-0 alineaVertical destacado">
                Felinos
              </div>
            </div>
          </div>
        </div>



        <div class="row" >
          <div class="col-md-2 border border-dark border-top-0 alineaV border-end-0 destacado">
            Hematocrito
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="srHematocrito" [ngStyle]="{'font-weight':srHematocritoFlag==true?'bold':'normal'}" (blur)="srHematocritoFormula()">
              <mat-error *ngIf="srHematocrito.invalid">{{getErrorMessage('srHematocrito')}}</mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            %
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical " >
            37 - 50
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical" >
            24 - 45
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 alineaV border-end-0 destacado">
            Eritrocitos
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="srEritrocitos" [ngStyle]="{'font-weight':srEritrocitosFlag==true?'bold':'normal'}" (blur)="srEritrocitosFormula()">
              <mat-error *ngIf="srEritrocitos.invalid">{{getErrorMessage('srEritrocitos')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            10⁶/µl
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            5.5 - 8.5
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            5 - 10
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 alineaV border-end-0 destacado">
            Hemoglobina
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="srHemoglobina" [ngStyle]="{'font-weight':srHemoglobinaFlag==true?'bold':'normal'}" (blur)="srHemoglobinaFormula()">
              <mat-error *ngIf="srHemoglobina.invalid">{{getErrorMessage('srHemoglobina')}}</mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            g/dl
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            12 - 18
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            8 - 15
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 alineaV border-end-0 destacado">
            VCM
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="srVcm" [ngStyle]="{'font-weight':srVcmFlag==true?'bold':'normal'}" (blur)="srVcmFormula()">
              <mat-error *ngIf="srVcm.invalid">{{getErrorMessage('srVcm')}}</mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            Fl
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            60 - 70
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            39 - 55
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 alineaV border-end-0 destacado">
            CHCM
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="srChcm" [ngStyle]="{'font-weight':srChcmFlag==true?'bold':'normal'}" (blur)="srChcmFormula()">
              <mat-error *ngIf="srChcm.invalid">{{getErrorMessage('srChcm')}}</mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            g/dl
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            32 - 36
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            30 - 36
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 alineaV border-end-0 destacado">
          HCM
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="srHcm" [ngStyle]="{'font-weight':srHcmFlag==true?'bold':'normal'}" (blur)="srHcmFormula()">
              <mat-error *ngIf="srHcm.invalid">{{getErrorMessage('srHcm')}}</mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            Pgr
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            19.5 - 24.5
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            13 - 17
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 alineaV border-end-0 destacado">
            Reticulocitos
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="srReticulocitos" [ngStyle]="{'font-weight':srReticulocitosFlag==true?'bold':'normal'}" (blur)="srReticulocitosFormula()">
              <mat-error *ngIf="srReticulocitos.invalid">{{getErrorMessage('srReticulocitos')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            %
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            0 - 1.5
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            0.2 - 1.6
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 alineaV border-end-0 destacado">
            Plaquetas
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="srPlaquetas" [ngStyle]="{'font-weight':srPlaquetasFlag==true?'bold':'normal'}" (blur)="srPlaquetasFormula()">
              <mat-error *ngIf="srPlaquetas.invalid">{{getErrorMessage('srPlaquetas')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            Miles/µl
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            200 - 500
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            300 - 800
          </div>

        </div>
    <!--
        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 alineaVertical font-weight-bold">
            TOTAL
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 alineaVertical">
            {{srTotal}}
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 alineaVertical">

          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">

          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">

          </div>

        </div>
        -->
    </div>

      <br>
      <div id="serieBlanca">

        <h4>SERIE BLANCA</h4>

        <div class="row anchoTitulo">
          <div  class="col-md-2 border border-dark alineaVertical border-end-0 destacado">
            PARÁMETRO
          </div>
          <div class="col-md-4 border border-dark border-left-0 border-end-0" >
            <div class="row ">
              <div class="col-md-12 border-bottom border-dark  alineaVertical font-weight-bold">
                RESULTADOS
              </div>
            </div>
            <div class="row ">
              <div class="col-md-6 border-dark border-top-0 border-left-0 border-bottom-0 alineaVertical font-weight-bold">
                %
              </div>
              <div class="col-md-6 border-dark  border-0 alineaVertical font-weight-bold">
                nº/µl
              </div>
            </div>
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-end-0" >

            <div class="row ">
              <div class="col-md-12 border-bottom border-dark  alineaVertical font-weight-bold">
                CANINOS
              </div>
            </div>
            <div class="row ">
              <div class="col-md-12 border-dark border-0 alineaVertical font-weight-bold">
                nº/µl
              </div>
            </div>
          </div>
          <div class="col-md-3 border border-dark border-left-0" >
            <div class="row ">
              <div class="col-md-12 border-bottom border-dark  alineaVertical font-weight-bold">
                REFERENCIA FELINOS
              </div>
            </div>
            <div class="row ">
              <div class="col-md-12 border-dark border-0 alineaVertical font-weight-bold">
                nº/µl
              </div>
            </div>
          </div>
        </div>

        <div class="row" >
          <div class="col-md-2 border border-dark border-top-0 border-end-0 alineaV destacado">
            Leucocitos
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">

          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="resultado" [formControl]="sbLeucocitos2" [ngStyle]="{'font-weight':sbLeucocitos2Flag==true?'bold':'normal'}" (blur)="sbCambioFormula()">
              <mat-error *ngIf="sbLeucocitos2.invalid">{{getErrorMessage('sbLeucocitos2')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical " >
            5.000 - 17.000
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical" >
            5.000 - 19.500
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 border-end-0 alineaV destacado">
            Neutrófilos
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="sbNeutrofilos"  (blur)="sbCambioFormula()">
              <mat-error *ngIf="sbNeutrofilos.invalid">{{getErrorMessage('sbNeutrofilos')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical" [ngStyle]="{'font-weight':sbNeutrofilosFlag==true?'bold':'normal'}">
            {{sbNeutrofilosFormula}}
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            3.300 - 11.500
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            2.500 - 12.500
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 border-end-0 alineaV destacado">
            Linfocitos
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="sbLinfocitos"  (blur)="sbCambioFormula()">
              <mat-error *ngIf="sbLinfocitos.invalid">{{getErrorMessage('sbLinfocitos')}}</mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical" [ngStyle]="{'font-weight':sbLinfocitosFlag==true?'bold':'normal'}">
            {{sbLinfocitosFormula}}
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            1.000 - 4.800
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            1.500 - 7.000
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 border-end-0 alineaV destacado">
            Monocitos
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="sbMonocitos" (blur)="sbCambioFormula()">
              <mat-error *ngIf="sbMonocitos.invalid">{{getErrorMessage('sbMonocitos')}}</mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical" [ngStyle]="{'font-weight':sbMonocitosFlag==true?'bold':'normal'}">
            {{sbMonocitosFormula}}
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            250 - 1.350
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            0 - 850
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 border-end-0 alineaV destacado">
            Eosinófilos
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="sbEosinofilos" (blur)="sbCambioFormula()">
              <mat-error *ngIf="sbEosinofilos.invalid">{{getErrorMessage('sbEosinofilos')}}</mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical" [ngStyle]="{'font-weight':sbEosinofilosFlag==true?'bold':'normal'}">
            {{sbEosinofilosFormula}}
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            100 - 1.500
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            100 - 1.500
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 border-end-0 alineaV destacado">
            Basófilos
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="sbBasofilos" (blur)="sbCambioFormula()">
              <mat-error *ngIf="sbBasofilos.invalid">{{getErrorMessage('sbBasofilos')}}</mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical" [ngStyle]="{'font-weight':sbBasofilosFlag==true?'bold':'normal'}">
            {{sbBasofilosFormula}}
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            0 - 200
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0  alineaVertical">
            0 - 100
          </div>

        </div>

        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 border-end-0 alineaV destacado">
            Baciliformes
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="Ingrese Valor" [formControl]="sbBaciliformes"  (blur)="sbCambioFormula()">
              <mat-error *ngIf="sbBaciliformes.invalid">{{getErrorMessage('sbBaciliformes')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical" [ngStyle]="{'font-weight':sbBaciliformesFlag==true?'bold':'normal'}">
            {{sbBaciliformesFormula}}
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 border-end-0 alineaVertical">
            0 - 300
          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">
            0 - 300
          </div>

        </div>

        <div class="row" >
          <div class="col-md-2 border border-dark border-top-0 border-end-0 alineaVertical destacado">
            TOTAL
          </div>
          <div class="col-md-2 border border-dark border-left-0 border-top-0 alineaVertical destacado">
            {{sbTotal}}
          </div>
      <!--   <div class="col-md-2 border border-dark border-left-0 border-top-0 alineaVertical">

          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">

          </div>
          <div class="col-md-3 border border-dark border-left-0 border-top-0 alineaVertical">

          </div>
    -->
        </div>
      </div>

      <br>

      <h4>OBSERVACIONES:</h4>
      <div id="observaciones">
        <div class="row">
          <div class="col-md-2 border border-dark border-end-0 alineaV destacado">ERITROCITOS:</div>
          <div class="col-md-3 border border-dark border-left-0 alineaVertical font-weight-bold">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="resultado" [formControl]="obsEritrocitos" (blur)="sbCambioFormula()">
              <mat-error *ngIf="obsEritrocitos.invalid">{{getErrorMessage('obsEritrocitos')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 border-end-0 alineaV destacado">LEUCOCITOS:</div>
          <div class="col-md-3 border border-dark border-top-0 border-left-0 ">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="resultado" [formControl]="obsLeucocitos" (blur)="sbCambioFormula()">
              <mat-error *ngIf="obsLeucocitos.invalid">{{getErrorMessage('obsLeucocitos')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 border border-dark border-top-0 border-end-0 alineaV destacado">PLAQUETAS:</div>
          <div class="col-md-3 border border-dark border-top-0 border-left-0 alineaVertical font-weight-bold">
            <mat-form-field class="anchoTituloLinea1">
              <input matInput placeholder="resultado" [formControl]="obsPlaquetas" (blur)="sbCambioFormula()">
              <mat-error *ngIf="obsPlaquetas.invalid">{{getErrorMessage('obsPlaquetas')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
      <div class="col-md-6">
        <button mat-raised-button color="warn"  mat-dialog-close  [disabled]=false>Cerrar</button>
      </div>
      <div class="col-md-6">
        <button class="colorFondoBoton" mat-raised-button  (click)="enviar()" [disabled]="ingresaHemograma.invalid">GRABAR</button>
      </div>
</mat-dialog-actions>

<div *ngIf="!ingresaHemograma.invalid">

<app-imprime-hemograma *ngIf="imprime" [datoFichaRecibe]="datoFichaRespuesta"></app-imprime-hemograma>

</div>
