.agrega-container {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.agrega-container > * {
  width: 95%;
}

.mat-raised-button {
  min-width: 100%;
}

.ancho {
  width: 90%;
  align-items: center;
}

.anchoTitulo {
  width: 100%;
  text-align: center;
}

.anchoSubTitulo {
  width: 50%;
}


.anchoTituloLinea1 {
  width: 100%;
  text-align: center;
  outline: none;
}


.col-md-2, .col-md-3, .col-md-4, .col-md-6{
padding-right: 0px !important;
padding-left: 0px !important;
}

.mat-form-field-wrapper {
  padding-bottom:0% !important;
}

.mat-dialog-container {
  padding: 50px !important;

}

h4{

  margin:0%;
  font-weight: bold;
}

.alineaVertical{
  display: flex;
  align-items: center;
  justify-content: center;
}


.alineaV{
  display: flex;
  align-items: center;
}

.row {

   margin-right:0%;
   margin-left:0%;
}

.mat-dialog-content{
  margin: auto;
  max-height: 75vh !important;
}

/*nuevo*/
/*@import url(https://fonts.googleapis.com/css?family=Fjalla+One);*/
*:after,
*:before,
* {
  box-sizing: border-box;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

input{
  font-size: 120%;
}

.destacado{
  font-weight: bold;
}

/*Acordeon*/

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

/*Fin Acordeon*/
