<h2 mat-dialog-title>Consulta Empresa</h2>

    <mat-dialog-content  name="consultaEmpresa" class="consulta-container">
      <ng-template matStepLabel>Datos Empresa</ng-template>

      <mat-form-field color="accent">
        <input matInput class="input-rut rut" placeholder="Ingrese Rut" value="{{this.data.rutEmpresa}}" disabled='true'>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Razon Social " value="{{this.data.razonSocial}}" disabled='true'>
      </mat-form-field>



      <mat-form-field color="accent">
        <input matInput placeholder="Nombre Fantasía" value="{{this.data.nombreFantasia}}"  disabled='true'>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Dirección " value="{{this.data.direccion}}" disabled='true'>
      </mat-form-field>

      <mat-form-field color="accent">
          <input matInput placeholder="Nombre Contacto" value="{{this.data.nombreContacto}}" disabled='true'>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput placeholder="teléfono " value="{{this.data.telefono}}" disabled='true'>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Tipo Empresa " value="{{this.data.tipoEmpresa}}" disabled='true'>
      </mat-form-field>


      <mat-form-field color="accent">
        <input matInput placeholder="Email " value="{{this.data.email}}" disabled='true'>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Email Recepción Solicitud " value="{{this.data.correoRecepcionSolicitud}}" disabled='true'>
      </mat-form-field>

      <mat-list>
        <mat-list-item>Datos de Envío de Email</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

      <mat-form-field color="accent">
        <input matInput placeholder="Envío Email " value="{{this.data.emailEnvio}}" disabled='true'>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Contraseña " value="{{this.data.password}}" disabled='true'>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Nombre Desde " value="{{this.data.nombreDesde}}" disabled='true'>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Asunto" value="{{this.data.asunto}}" disabled='true'>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Título Cuerpo" value="{{this.data.tituloCuerpo}}" disabled='true'>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Título Cuerpo Medio " value="{{this.data.tituloCuerpoMedio}}" disabled='true'>
      </mat-form-field>


      <mat-form-field color="accent">
        <input matInput placeholder="Título Cuerpo Pie " value="{{this.data.tituloCuerpoPie}}" disabled='true'>
      </mat-form-field>

      <mat-card mat-card style="cursor: pointer"  class="example-card mb-2 mt-4 ml-2  align-content-center align-items-center align-self-center text-center" >
        <a class="colorAmarillo" >
          <img class="avatar mat-elevation-z8"   [src]="imagen" >
        </a>
      </mat-card>

    </mat-dialog-content>
    <mat-dialog-actions class="justify-content-center">
      <div class="col-md-6">
        <button mat-raised-button color="warn"  mat-dialog-close  [disabled]=false>Cerrar</button>
      </div>
  </mat-dialog-actions>
